<h1>この内容で送信しますか？</h1>

<%= form_with(model: @user, url: users_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :password %>
  <%= form.hidden_field :password_confirmation %>

  <div>
    <div><strong>ユーザー名</strong></div>
    <div><%= @user.name %></div>
  </div>

  <div>
    <div><strong>メールアドレス</strong></div>
    <div><%= @user.email %></div>
  </div>

  <div>
    <%= form.submit '登録する' %>
  </div>

<% end %>

<%= form_with(model: @user, url: new_user_path, local: true, method: :get) do |form| %>

  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>

  <div>
    <%= form.submit '戻る', name: 'back' %>
  </div>

<% end %>
