<h1 class="bottom50">投稿一覧</h1>

<% @posts.each do |post| %>
  <div><%= post.content %></div>
  <div>
    <%= image_tag(post.image.url, class: "img-responsive") if post.image.url %>
  </div>
  <div>
    <strong>投稿者</strong>：<%= post.user.name %>
  </div>

  <div>
    <%= link_to '確認', post_path(post.id), class: "btn btn-default" %>

    <% if logged_in? && post.user_id == current_user.id %>
      <%= link_to '編集', edit_post_path(post.id), class: "btn btn-info" %>
      <%= link_to '削除', post, class: "btn btn-danger", method: :delete, data: { confirm: '削除してもいいですか？' } %>
    <% end %>
  </div>

<% end %>
